:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-bold: 600;
  --font-normal: 400;
  --normal-size: 1.4rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background: #f5f5f5;
  font-family: var(--font);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-size: 1.6rem;
  }

  body {
    max-width: 500px;
    margin: 0 auto;
  }
}

.header {
  margin: 2rem auto;
  text-align: left;
}

.logo img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 3rem auto;
}

.main {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 10px 0 10px;
  padding: 20px;
  -webkit-box-shadow: -1px 1px 16px 4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -1px 1px 16px 4px rgba(0, 0, 0, 0.06);
  box-shadow: -1px 1px 16px 4px rgba(0, 0, 0, 0.06);
}

@media screen and (min-width: 768px) {
  .main {
    padding: 15px 30px;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: normal;
  text-align: center;
}

.subtitle {
  font-size: var(--normal-size);
  margin-bottom: 1rem;
  font-weight: var(--font-normal);
}

.red {
  font-weight: var(--font-bold);
  font-size: var(--normal-size);
  margin: 2rem 0;
}

.ssid {
  font-size: var(--normal-size);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.note {
  color: red;
  font-weight: var(--font-bold);
}

.before-form {
  margin-bottom: 3rem;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: var(--normal-size);
  font-weight: var(--font-normal);
}

input:focus {
  outline: 1px solid #000000;
}

input[type="submit"] {
  background: #e51513;
  color: #ffffff;
  border: none;
  font-size: 1.4rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  transition: background .5s ease;
}

input[type="submit"]:hover {
  background: #000000;
  cursor: pointer;
}

.help {
  margin: 2.2rem 0;
}

.title-error {
  color: red;
}

/* ------ ERROR ------ */
@media screen and (max-width: 768px) {
  .title-error {
    font-size: 2.4rem;
    font-weight: var(--font-bold);
  }
}

.center {
  text-align: center;
}

/* ----- SPINNER ----- */
.loader {
  color: #e51513;
  font-size: 3em;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 5.5rem auto 4rem auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}